body {
  background: #252525;
}

.logo-dark-1 {
  fill: #313131;
}

.logo-dark-2 {
  fill: #747474;
}

.logo-dark-3 {
  fill: #747474;
}

.logo-dark-4 {
  fill: #747474;
}

.clock, .district h1, .interesting a, .all a, .interesting path, .all path, .logo span {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.main-navigation-item a:hover .hover-text {
  font-weight: 600;
  color: #FFFFFF;
}

.main-navigation-item a:hover .hover-svg {
  fill: #535353;
}

.main-navigation-item a, .hover-svg {
  fill: rgba(83, 83, 83, 0.5);
}

.main-navigation-item span {
  color: #B4B4B4;
}

.write-post {
  color: rgba(255, 255, 255, 0.8);
  background-color: #3B3B3B;
}

.posting {
  background: rgba(196, 196, 196, 0.1);
  border: 2px rgba(196, 196, 196, 0.1);
}

.post-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.blue-cube-no {
  fill: #7C7C7C;
  opacity: 1;
}

.blue-cube {
  fill: #525252;
}

.line {
  background: rgba(255, 255, 255, 0.1);
}

.thing1 rect {
  fill: #7C7C7C;
  opacity: 1;
}

.page-nav {
  border-color: #5D5D5D;
}

.border, .border2 {
  background: #5D5D5D;
}

.page-nav-item rect {
  fill: #7C7C7C;
  opacity: 1;
}

.page-nav a {
  color: #9A9A9A;
}

.page-nav a:hover {
  color: #B4B4B4;
}

.page-nav a:hover:before {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
}


