body {
  margin: 0;
  padding: 0;
  font-family: Gotham Pro;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, span, ul, li, a, button {
  margin: 0;
  padding: 0;
}

.flex {
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
}

.left {
  width: 20%;
  margin-top: 35px;
  padding: 0 10px;
}

.right {
  width: 20%;
  margin-top: 34px;
  padding: 0 10px;
}

.swap-content {
  width: 60%;
  margin-top: 45px;
  padding: 0 10px;
}

/*.left {*/
/*  width: 20%;*/
/*  float: left;*/
/*  box-sizing: border-box;*/
/*  padding: 0 10px;*/
/*}*/

/*.middle {*/
/*  width: 60%;*/
/*  float: left;*/
/*  box-sizing: border-box;*/
/*  padding: 0 10px;*/
/*}*/

/*.right {*/
/*  width: 20%;*/
/*  float: left;*/
/*  box-sizing: border-box;*/
/*  padding: 0 10px;*/
/*}*/

.hidden {
  display: none;
}

/*header*/

.clock {
  font-size: 18px;
  color: #726F89;
}

.header-content {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-info {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.logo {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #29274A;
  align-items: center;
  display: flex;
}

.logo span {
  margin-left: 18px;
}

.district h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  color: #726F89;
}

.interesting {
  margin-left: auto;
  margin-right: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #726F89;
}

.all a,
.interesting a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #726F89;
}

.interesting span,
.all span {
  margin-right: 8px;
}

.clock {
  margin-left: 40px;
}

.thing1 {
  margin-left: auto;
}

.thing2 {
  margin-left: 30px;
}

.thing3 {
  margin-left: 10px;
}

.switch-check {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

/*navigation*/

.main-navigation {
  margin-top: 30px;
  margin-left: 10px;
}

.main-navigation-item {
  margin-top: 30px;
}

.main-navigation-item a:hover .hover-text {
  font-weight: 600;
  color: #29274A;
}

.main-navigation-item a:hover .hover-svg {
  fill: #535c7d;
}

.main-navigation-item a {
  display: flex;
  align-items: center;
}

.main-navigation-item span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #8E8CA0;
  margin-left: 28px;
}

.write-post {
  margin-left: 10px;
  margin-top: 30px;
  background: #5F82FF;
  border-color: #5F82FF;
  border-radius: 7px;
  width: 200px;
  height: 50px;
  color: white;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  border-style: none;
  cursor: pointer;
}

/*posting*/

.posting {
  background: #FBFBFB;
  border: 2px solid #F1F2F4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 11px 35px;
  margin-top: 47px;
}

.posting-items {
  display: flex;
  align-items: center;

}

.post-input {
  height: 25px;
  width: 30%;
  background: transparent;
  border: none;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  margin-left: 20px;
}

.post-input::-webkit-input-placeholder {
  color: #726F89;
  opacity: 0.5;
}

.post-pic {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.blue-cube {
  position: relative;
}

.blue-cube:hover {
  cursor: pointer;
}

.line {
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  width: 1px;
  height: 50px;
  left: 13px;
  position: relative;
}

.post-pic svg {
  margin-left: 27px;
}

.page-nav {
  border: 3px solid #F1F2F4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 24px;
  margin-top: 9px;
  position: relative;
}

.page-nav a {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(114, 111, 137, 0.5);
  position: relative;
}

.page-nav-item svg {
  margin-left: auto;
}

.page-nav li {
  margin-bottom: 18px;
}

.page-nav li:nth-child(1) {
  margin-bottom: 33px;
}

.page-nav li:nth-child(3) {
  margin-bottom: 33px;
}

.page-nav li:nth-child(7) {
  margin-bottom: 0;
}

.page-nav a:hover {
  color: #726F89;
}

.page-nav a:hover:before {
  content: '';
  background-color: #7694FA;
  width: 3px;
  height: 28px;
  position: absolute;
  left: -27px;
  border-radius: 3px;
}

.border {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F1F2F4;
  left: 0;
  top: 60px;
}

.border2 {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F1F2F4;
  left: 0;
  top: 150px;
}

/*profile*/
.profile-info {
  max-width: 60%;
  float: left;
}

.profile-bg-content {

}

.change-btn {
  background: rgba(0, 0, 0, 0.3);
  font-family: Gotham Pro;
  border-radius: 54px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 87.68%;
  padding: 10px 10px;
  border: transparent;

  margin-left: -200px;
  margin-top: 18px;
}

/*profile*/

.profile-parameters {
  max-width: 100%;
}

.page-nav-profile {
  margin-top: -25px;
}

.profile-avatar {
  margin-left: 35px;
  margin-top: -105px;
  max-width: 25%;
}

.profile-name {
  margin-left: 262px;
  font-size: 28px;
  color: #000000;
  font-weight: 500;
  margin-top: -94px;
}

.profile-district {
  margin-left: 493px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 16px;
  margin-top: -23px;
}

.profile-special {
  margin-left: 262px;
  margin-top: 13px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.profile-redact {
  position: relative;
  left: 263px;
  top: 13px;
  color: #8A98C7;
  font-size: 16px;
  font-weight: 400;
}

/*write post*/

.modal {
  background: #FBFBFB;
  border: 2px solid #F1F2F4;
  box-sizing: border-box;
  border-radius: 10px;
  position: fixed;
  width: 930px;
  height: 470px;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  padding: 0 20px;
}

.modal h1 {
  margin-top: 39px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #29274A;
}

.close {
  top: 0;
  right: 0;
  position: absolute;
  background: rgba(12, 25, 71, 0.23);
  border-radius: 7px;
  width: 25px;
  height: 25px;
  border: none;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.radio-buttons {
  display: flex;
  align-items: center;
  padding: 0 108px 0 128px;
  justify-content: space-between;
  margin-top: 24px;
}

label > .radio:checked + span {
  color: rgba(41, 39, 74, 0.78);
}

label > .radio + span {
  color: rgba(114, 111, 137, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;
}

.radio {
  display: none;
}

.modal-district {
  display: flex;
  align-items: baseline;
  margin-left: 40px;
  margin-top: 36px;
}

.modal-district p:first-child {
  color: #29274A;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.modal-district p:last-child {
  margin-left: 5px;
  color: rgba(114, 111, 137, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.write-post-input {
  background: rgba(155, 155, 155, 0.1);
  border: none;
  border-radius: 28.5px;
  height: 100px;
  margin-top: 18px;
  width: 100%;
  color: rgba(114, 111, 137, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  resize: none;
  display: block;
}

.write-post-input::-webkit-input-placeholder {
  color: rgba(114, 111, 137, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.submit-post-btn {
  background: rgba(145, 167, 246, 0.6);
  border: none;
  width: 132px;
  height: 46px;
  border-radius: 7px;
  right: 0;
  position: absolute;
  bottom: 0;
  margin: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {

  .flex {
    max-width: 1280px;
  }

  .swap-content {
    max-width: 60%;
  }
}

@media screen and (max-width: 1140px) {
  .flex {
    max-width: 1140px;
  }

  .thing1, .thing3 {
    display: none;
  }

  .thing2 {
    margin-left: auto;
  }

  .write-post {
    width: 70%;
    height: 70%;
    font-size: 15px;
  }

  .main-navigation-item svg {
    display: none;
  }

  .main-navigation-item span {
    margin-left: 5px;
    font-size: 15px;
  }

  .page-nav a {
    font-size: 15px;
  }

  .page-nav svg {
    display: none;
  }

  .interesting span, .all span {
    font-size: 15px;
  }

  .interesting svg, .all svg {
    display: none;
  }

  .district h1 {
    font-size: 26px;
  }

  .post-pic {
    width: 100%;
  }

  .avatar {
    display: none;
  }

  .post-input {
    font-size: 15px;
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .logo span {
    display: none;
  }

  .write-post {
    width: 70%;
    height: 70%;
    font-size: 15px;
  }
}


















